/* Estilos para el pie de página */
.pie-de-pagina {
    background-color: #333;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.pie-de-pagina a {
    color: #00bcd4;
    text-decoration: none;
}

.pie-de-pagina a:hover {
    text-decoration: underline;
}


